
    .main-clinic .dashboard {
  display: flex;
  height: 100vh;
}

.main-clinic .clinic{
    display: flex;
    flex-direction: column;
}

/* Sidebar */
  .main-clinic .sidebar {
  width: 240px;
  background: #fff;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

  .main-clinic .logo {
  font-weight: 700;
  font-size: 1.2rem;
  color: #0d9488;
  margin-bottom: 2rem;
}
   .main-clinic
.menu,
.bottom-menu {
  list-style: none;
}

 .main-clinic

.menu li,
.bottom-menu li {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  color: #444;
  cursor: pointer;
  transition: 0.3s;
}

 .main-clinic

.menu li.active,
.menu li:hover,
.bottom-menu li:hover {
  background: #e0f2f1;
  color: #0d9488;
}

/* Main content */
   .main-clinic .main-content {
  flex: 1;
  padding: 1.5rem 2rem;
  overflow-y: auto;
}

  .main-clinic .top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

  .main-clinic.top-bar input {
  width: 250px;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

  .main-clinic .welcome h2 {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

  .main-clinic .welcome p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

/* Cards */
  .main-clinic .cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

 .main-clinic .card {
  flex: 1;
  min-width: 230px;
  background: #fff;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

  .main-clinic .card h3 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  color: #0d9488;
}

  .main-clinic .card .value {
  font-size: 1.4rem;
  font-weight: 600;
}

  .main-clinic .card .growth {
  font-size: 0.9rem;
  color: #22c55e;
  margin-left: 5px;
}

  .main-clinic .card .small {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.4rem;
}

/* Stats + Calendar */
  .main-clinic .stats, .calendar {
  background: #fff;
  border-radius: 12px;
  padding: 1.2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  margin-bottom: 1rem;
}

    .main-clinic .stats h3, .calendar h3 {
  color: #0d9488;
  margin-bottom: 1rem;
}

  .main-clinic .chart-placeholder {
  height: 200px;
  background: #f0fdfa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d9488;
  font-weight: 500;
}

  .main-clinic .calendar-box {
  background: #f0fdfa;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  color: #0d9488;
}
